name: CI
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [1.20]
    steps:

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: |
        go mod download
      env:
        GO111MODULE: on

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.40
        args: -D errcheck

    - name: Run Test
      run: |
        go test -v ./...
      env:
        GO111MODULE: on
